doctype html
html
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="/styles/pedidos.css") 
    title Lista de Pedidos

  body
    h1 Lista de Pedidos
    if pedidos && pedidos.length > 0
      each pedido in pedidos
       
        h2 Pedido #{pedido._id}
        form(action=`/pedidos/eliminarPedido/${pedido._id}?_method=DELETE`, method="POST", style="display:inline")
                div

                  input(type="hidden", name="token", value=token)
                  button(type="submit") Eliminar Pedido
        ul
          each producto in pedido.productos
            li
              span Nombre: #{producto.nombre} - 
              span Precio: $#{producto.precio.toFixed(2)} -
              span Direc: #{pedido.direccion}
              

    else
      p No hay pedidos disponibles.
